.sort-container {
    background-color: #767A3A;
    padding-bottom: 1vh;
}

.sort-label {
    font-size: 1vw;
    padding: 1vw;
    font-weight: bold;
}

.sort {
    max-width: 12vw;
    max-height: 3vh;
    font-size: 1vw;
}