.home-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}

 .home-button-left {
    background-image: url("../../assets/55962f244a134.jpg");
 }

 .home-button-right {
    background-image: url("../../assets/3bd9d4751e34ca1fb117e11aa19388f9.jpg");
 }

.home-button-right, .home-button-left {
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
	-webkit-text-stroke: .5px black;
	-webkit-text-fill-color: white;
    cursor: pointer;
    font-size: 4vw;
    border: 0px;
    display: block;
    width: 50vw;
    opacity: 1;
    margin: 0;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 100vh;
}

.home-button-right:hover, .home-button-left:hover {
    font-size: 4.5vw;
    transform: scale(1.05);
}

 @media only screen and (max-width: 768px) {
    .home-container {
        flex-direction: column;
        margin-top: -25px;
    }
    .home-button-right, .home-button-left {
        width: 100vw;
        height: 50vh;
    }
}

@media only screen and (max-width: 425px) {
    .home-button-right, .home-button-left {
        width: 100vw;
        height: 50vh;
        font-size: 6vw;  
    }
}
