.search {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #767A3A;
}

.search-input {
    padding: 10px;
    margin: 40px;
    border: 2px solid black;
    width: 30vw;
    font-size: .8vw;
    letter-spacing: 0.1px;
    font-family: 'Roboto Mono', monospace;
    height: 1.5vh;
}

.search-input::placeholder {
    letter-spacing: .3px;
}